.app-container {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.search-form {
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: #156d0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.search-item {
    text-align: center;
    width: 150px;
}

.result-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.carousel-container {
    margin-top: 30px;
}

.carousel-title {
    font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.carousel-item-title {
    font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #555;
        text-align: center;
        margin-top: 10px;
    }

.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}
.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    transform: scale(0.95);
    }
    to {
    opacity: 1;
    transform: scale(1);
    }
}
.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.card {
    width: 200px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.card-image {
    width: 100%;
}
.card-body {
    padding: 10px;
    text-align: center;
}
    